.hero {
    position: relative;
    text-align: center;
    margin-bottom: 1em;
}



    .hero .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



    .hero h1 {
        margin-bottom: 1em;
    }



/**********************************************************
statistics
**********************************************************/



.statistics {
    height: 200px;
    margin-bottom: 20px;
}



    .statistics > div {
        border: 1px solid black;
        padding: 20px;
    }



    .statistics .label {
        font-size: 1.1em;
    }



    .statistics .value {
        font-size: 3em;
        font-weight: bold;
    }



/**********************************************************
courses
**********************************************************/



.courses {
    margin-bottom: 20px;
}



    .courses h2 {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 1em;
    }



/**********************************************************
site-footer
**********************************************************/



.site-footer {
    background-color: #f1f1f1;
    padding: 2em 2em;
    margin-top: 20px;
}



    .site-footer ul {
        list-style-type: none;
        padding: 0;
    }



    .site-footer .social li {
        display: inline;
    }



    .site-footer .social {
        font-size: 2em;
    }
